/* Variables */
:root{
  --primary-color: #7ACC2D;
  --secondary-color: white;
  --black-color: #313337;
  --white-color: white;
  --normal:12px;
  --space:10px;
  --space-2:20px;
  --box:0 0 2px 1px #e6e5e9
}
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


html, body{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

p ,label{
  font-size: var(--normal);
}

.modulo_pago input{
  margin-bottom: var(--space);
  width: 100%;
  padding: 15px;
  border-radius: 2px;
  border: 1px solid var(--black-color);
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px;
  color: var(--secondary-color);
  align-items: center;
}

nav ul{
  display: flex;
}

nav ul li{
  margin-left: 20px;
  list-style: none;
}

nav ul li a{
  color: var(--secondary-color);
  text-decoration: none;
}

nav ul li a:hover{
  color: black;
}

.hero{
  padding: 12%;
  text-align: center;
}

.products{
  background-image: url('../images/curve.png');
  height: 50px;
  background-size: cover;
  background-position: center top;
  padding: 15%;
  display: flex;
}

.product{
  padding: 18px;
  margin-top: -240px;
}

.product .content{
  background-color: var(--secondary-color);
  padding: 15px;
  box-shadow: 0 0 1px #c1bcbc;
}

.img_content{
  text-align: center;
}

.main_button{
  background-color: var(--primary-color);
  width: 100%;
  padding: 10px;
  font-size: 17px;
  color: white;
  border:0;
  cursor: pointer;
  border-radius: 2px;
}

.main_button:hover{
  background-color: #5e9e22;
}

.beneficios{
  display: flex;
  padding: 10%;
}

.beneficio{
  text-align: center;
  padding: 20px;
}

.beneficio img{
  width: 100%;
}

.text_beneficio{
  text-align: justify;
}

.mentions{
  display: flex;
  padding: 7%;
}

.mentions img{
  width: 100%;
}

.mention{
  padding: var(--space);
}

.mention_title{
  font-size: 30px;
  text-align: center;
}

.content_mention{
  box-shadow: 0px 0 2px 1px #e6e5e9;
}
.mention .text{
  padding: var(--space);
}

/*--------Venta ------------*/

.container{
  margin-top: 15vh;
}

.modulo_pago{
  background-color: var(--white-color);
  box-shadow: var(--box);
  padding: var(--space);
}

.modulo_pago_images{
  max-width: 150px;
  margin: 0 auto;
}
/*-------------------------*/
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: var(--space);
  background-color: var(--black-color);
  color: var(--white-color);
}